#campus2_div {
  overflow: hidden;
  padding: 0px 5px 10px 5px;
  border: 1px solid #70ff70;
  background-color: #056bab;
  /* background-image: url(""); */
  border-radius: 05% 05% 05% 05%;
}

.campus2_heading {
  padding: 20px 0 10px 0;
  text-align: center;
  background-color: #056bab;
  /* background-image: url(""); */
  border: 1px solid #ffffff;
  border-radius: 00% 00% 00% 00%;
  border-width: 0px 0px 0px 0px;
  border-color: #ffffff;
  border-style: solid;
}

.campus2_div1 {
  width: 29.5%;
  float: left;
  text-align: center;
  padding: 10px 1px 40px 3px;
  margin: 1% 0% 1% 3%;
  height: 370px;
  overflow-y: hidden;
  background-color: #056bab;
  border: 1px solid #0fff0f;
  /* background-image: url(""); */
  border-radius: 00% 15% 15% 00%;
}

.campus2_h2h {
  padding: 0.8vw 0 0.8vw 0;
  margin: 0;
  font-size: 2vw;
  color: #ffef03;
  font-style: normal;
  font-weight: bold;
  font-family: times;
}

.campus2_h2h2 {
  color: #ffef03;
  font-style: normal;
  font-weight: bold;
  font-family: times;
  font-size: 1.5vw;
  padding: 0 0 0.8vw 0;
  margin: 0;
}

.campus2_div1 h2 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  color: #ffef03;
  font-style: normal;
  font-weight: bold;
  font-family: times;
  font-size: 12px;
}

.campus2_div1 p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-left: 10px;
  /* color:#fff ; */
                        /* font-style: ;
                        font-weight: ;
                        font-family: ; */
}

.campus2_oles {
  height: 70px;
}

.campus2_oles p,
.campus2_oles h2,
.campus2_oles em,
.campus2_oles span,
.campus2_oles li {
  color: #ffffff !important;
  font-style: normal;
  font-weight: normal;
  font-family: times;
}

.campus2_div1 img {
  border: 1px solid #00ad00;
  border-radius: 50px 00px 50px 00px;
}

.campus2_loadmore1 {
  border: 1px solid #70ff70;
  background-color: #034873;
  /* background-image: url(""); */
  border-radius: 22px 22px 22px 22px;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-family: times;
}

/*   .campus2_no-more-a{border:1px solid #70ff70;background-color:#034873;
         background-image: url("");
         border-radius:22px 22px 22px 22px;
         color:ffffff;
         font-style:normal;
         font-weight:bold;
         font-family:times;
    } */

.campus2_div1 .campus2_ico {
  width: 95%;
  height: 100%;
  max-height: 200px;
  min-height: 150px;
  padding: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  border: 1px solid #00ad00;
  border-radius: 50px 00px 50px 00px;
}

.campus2_div1 .campus2_ico1 {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
  padding: 7px;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  border: 1px solid #00ad00;
  border-radius: 50px;
  float: left;
}

.campus2_no-more-a,
.campus2_no-more {
  text-align: center;
  clear: both;
  padding-top: 10px;
}

.campus2_loadmore1 {
  padding: 7px 40px 7px 40px;
  border: 1px solid #70ff70;
  color: #ffffff;
}

.campus2_no-more-a {
  padding: 7px 40px 7px 40px;
  color: #d1d1cf;
}

@media screen and (max-width: 1010px) {
  .campus2_div1 {
    height: 380px;
    width: 32%;
    margin: 1% 0% 1% 1%;
  }
}

@media screen and (max-width: 900px) {
  .campus2_h2h {
    font-size: 4vw;
  }
  .campus2_h2h2 {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 870px) {
  .campus2_div1 .campus2_ico {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .campus2_div1 {
    width: 47.8%;
    height: 380px;
  }
}

@media screen and (max-width: 525px) {
  .campus2_div1 {
    width: 98%;
    height: auto;
  }
  .campus2_oles {
    height: auto;
  }
  .campus2_h2h {
    font-size: 5vw;
  }
  .campus2_h2h2 {
    font-size: 4.5vw;
  }
}

/* width */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #d1d1d1;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #0fff0f;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}
