* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  z-index: 999 !important;
  font-family: 'Times New Roman', Times, serif;
}

.contained-div {
  width: 97%;
  margin: auto;
  margin-top: 0px;
  border: 5px solid #076ead;
  box-shadow: 0 0 100px 20px #076ead;
  font-family: 'Times New Roman', Times, serif;

}

@media screen and (max-width: 700px) {
  .contained-div {
    width: 100%;
  }
}
