.body {
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  font-family: "Open Sans", sans-serif, arial, helvetica, verdana;
}

.loadingDiv1 {
    filter: alpha(opacity=70);  
    opacity: 0.7;  
    position: absolute;  
    display: block;  
    top: 0px;  
    left: 0px;  
    width: 100%;  
    height: 100%;
}

.loadingDiv2{
    position:absolute;
    display:block;
    /* background:url('../www/100/slider/loading.gif') no-repeat center center; */
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

/* {jssor slider bullet navigator skin 05 css} */

.jssorb05 {
  position: absolute;
}

.jssorb05 div,
.jssorb05 div:hover,
.jssorb05 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  /* background: url("../www/100/slider/b05.png") no-repeat; */
  overflow: hidden;
  cursor: pointer;
}

.jssorb05 div {
  background-position: -7px -7px;
}

.jssorb05 div:hover,
.jssorb05 .av:hover {
  background-position: -37px -7px;
}

.jssorb05 .av {
  background-position: -67px -7px;
}

.jssorb05 .dn,
.jssorb05 .dn:hover {
  background-position: -97px -7px;
}

/* {jssor slider arrow navigator skin 22 css} */

.jssora22l,
.jssora22r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 58px;
  cursor: pointer;
  /* background: url("../www/100/slider/a22.png") center center no-repeat; */
  overflow: hidden;
}

.jssora22l {
  background-position: -10px -31px;
}

.jssora22r {
  background-position: -70px -31px;
}

.jssora22l:hover {
  background-position: -130px -31px;
}

.jssora22r:hover {
  background-position: -190px -31px;
}

.jssora22l.jssora22ldn {
  background-position: -250px -31px;
}

.jssora22r.jssora22rdn {
  background-position: -310px -31px;
}

.jssora22l.jssora22lds {
  background-position: -10px -31px;
  opacity: 0.3;
  pointer-events: none;
}

.jssora22r.jssora22rds {
  background-position: -70px -31px;
  opacity: 0.3;
  pointer-events: none;
}

.slider3-link {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-family: times;
  text-decoration: none;
  border-radius: 22px 22px 22px 22px;
  border-width: 3px 3px 3px 3px;
  border-color: #ffe603;
  border-style: solid;
  background-color: 045082;
  padding: 5px 15px 5px 15px;
  line-height: 40px;
}

.slider3-big {
  color: #045082;
  font-style: 045082;
  font-weight: normal;
  font-family: times;
  text-decoration: none;
}

.slider3-small {
  color: #70ff70;
  font-style: normal;
  font-weight: normal;
  font-family: times;
  text-decoration: none;
}

.puk {
  left: 50px;
  width: 500px;
}
